.about-container{
    display: grid;
    grid-template-columns: 25% 60%;
    gap: 15%;
    scroll-behavior: smooth;
}
h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-me{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    display: grid;
    place-items: center;
}

.about-me-image img{
    margin:3rem 0 0 3rem;
    padding-left: 5px;
    border-radius: 2rem;
    overflow: hidden;
}
.about-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.about-card{
    background: var(--color-bg);
    border: 1px solid transparent;
    border-radius: 1rem;
    text-align: center;
    padding: 1.5px;
}
.about-icon{
    color:var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;

}
.about-card h5{
    font-family: cursive;
    font-size: 0.8rem;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-card small{
    font-size: 9px;
    color: var(--color-light);
}
.about-content p{
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}
/*-------------MEDIA QUERIES-----------*/
@media screen and (max-width: 1024px){
    .about-container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about-me{
        width: 50%;
        margin: 2rem auto 4rem;
    }
    .about-content p{
        margin: 1rem 0 1.5rem;
    }
}
@media screen and (max-width: 600px){
    .about-container{
        width: 65%;
        margin: 0 auto 3rem;
        display: flex;
    }
    .about-me{
        display: none;
    }
    .about-cards{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .about-content{
        text-align: center;
    }
    .about-content p {
        margin: 1.5rem 0;
    }
}
